
.movie__form {
    color: #fff;
    background-color: #232323;
    position: fixed;
    z-index: 1000;
    top:50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.block__div {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.Close {
    font-size: 50px;
    cursor: pointer;
}

.movie__form h1 {
color: #bf000a;
    font-size: 30px;
    font-weight: bold;
}

.movie__form label {
    color: #F65261;
}

.movie__form input {
    background-color: #424242;
    border: none;
}
.movie__form select {
    background-color: #424242;
    border: none;
}

.movie__form textarea {
    background-color: #424242;
    border: none;
    font: 1.2em 'Open Sans', sans-serif;
    padding: 20px;
}