
.movie__form {
    color: #fff;
    background-color: #232323;
    position: absolute;
    z-index: 10;
    top:10%;
    right: 25%;
}
.Close {
    font-size: 30px;
    cursor: pointer;
}

.movie__form label {
    color: #F65261;
}

.movie__form input {
    background-color: #424242;
    border: none;
}
.movie__form select {
    background-color: #424242;
    border: none;
}

textarea {
    background-color: #424242;
    border: none;
    font: 1.2em 'Open Sans', sans-serif;
    padding: 20px;
}